body {
  margin: 0;
  background-color: rgba(208, 206, 206, 0.171);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  background-color: black;
}

@media (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
}
h1 {
  padding-right: 20px;
  color: white;
}

ul {
  padding-left: 25px;
  display: flex;
  text-align: center;
}

li {
  padding: 2px;
  list-style-type: none;
  font-size: 0.9em;
}

@media (min-width: 600px) {
  li {
    padding: 20px;
  }
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: rgb(210, 91, 18);
}

h2 {
  width: 50%;
  font-size: 1.5em;
  color: white;
  margin: 0;
  padding-bottom: 5px;
}

@media (min-width: 600px) {
  h2 {
    font-size: 3em;
  }
}
h3 {
  margin: 0;
}

@media (min-width: 600px) {
  h3 {
    font-size: 2em;
    padding: 5px;
  }
}
p {
  text-align: center;
}

@media (min-width: 600px) {
  p {
    margin: 0;
    max-width: 50%;
    text-align: center;
  }
}
label {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

h4 {
  color: white;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  footer {
    height: 70vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
iframe {
  max-width: 100%;
}

@media (min-width: 600px) {
  iframe {
    width: 100%;
  }
}
.svg-title {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .svg-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.devis {
  color: black;
  background-color: rgb(210, 91, 18);
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .devis {
    font-weight: 700;
    width: 15%;
    display: flex;
  }
}
.moving {
  padding-right: 20px;
  width: 40px;
}

@media (min-width: 600px) {
  .moving {
    padding-right: 0;
  }
}
.hero-img {
  background-image: url(/images/homme-carton-camionnette.webp);
  background-position: center;
  background-size: cover;
  height: 40vh;
}

@media (min-width: 600px) {
  .hero-img {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
  }
}
.div-hero {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (min-width: 600px) {
  .div-hero {
    flex-direction: row;
    width: 30%;
  }
}
.p-hero {
  font-size: 0.7em;
}

.white {
  background-color: black;
  color: white;
}

@media (min-width: 600px) {
  .white {
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.black {
  background-color: rgb(210, 91, 18);
  color: black;
}

@media (min-width: 600px) {
  .black {
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.demenagement {
  height: 60vh;
  background-color: rgb(210, 91, 18);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .demenagement {
    flex-direction: row;
  }
}
.media-demenagement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .media-demenagement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.carton {
  width: 60%;
  padding-top: 5px;
}

@media (min-width: 600px) {
  .carton {
    width: 30%;
  }
}
.p-demenagement {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 600px) {
  .p-demenagement {
    text-align: left;
    max-width: 30%;
  }
}
.styled {
  border: 0;
  color: white;
  background-color: black;
}

.styled:hover {
  background-color: rgba(204, 204, 204, 0.393);
}

@media (min-width: 600px) {
  .styled {
    padding: 5px 20px 5px 20px;
    margin-right: 80px;
  }
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .services {
    flex-direction: row;
  }
}
@media (min-width: 600px) {
  .title-services {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}
.div-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-services {
  width: 60%;
  padding-top: 10px;
}

.button-service {
  border: 0;
  background-color: rgb(210, 91, 18);
}

.button-service:hover {
  background-color: rgba(204, 204, 204, 0.393);
}

.confiance {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: white;
}

.img-confiance {
  margin-top: 20px;
  height: 30vh;
  background-image: url(/images/2hommes-portent-un-meuble.webp);
  background-position: center;
  background-size: cover;
}

@media (min-width: 600px) {
  .img-confiance {
    height: 60vh;
  }
}
@media (min-width: 600px) {
  .p-confiance {
    display: flex;
    justify-content: space-around;
  }
}
.distance {
  margin: 0;
  background-color: black;
  color: white;
}

@media (min-width: 600px) {
  .distance {
    max-width: 33.33%;
    padding: 50px;
  }
}
.assurance {
  margin: 0;
  background-color: rgb(210, 91, 18);
  color: white;
}

@media (min-width: 600px) {
  .assurance {
    max-width: 33.33%;
    padding: 50px;
  }
}
.taux {
  margin: 0;
  background-color: white;
}

@media (min-width: 600px) {
  .taux {
    max-width: 33.33%;
    padding: 50px;
  }
}
.client {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jean {
  margin-top: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .logo {
    flex-direction: row;
  }
}
.gratuit {
  background-color: rgb(210, 91, 18);
}

@media (min-width: 600px) {
  .gratuit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
@media (min-width: 600px) {
  .div-gratuit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.ul-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

@media (min-width: 600px) {
  .city {
    display: flex;
  }
}
@media (min-width: 600px) {
  .date {
    display: flex;
  }
}
@media (min-width: 600px) {
  .name {
    display: flex;
  }
}
.button-form {
  border: 0;
  background-color: black;
  color: white;
}

.button-form:hover {
  background-color: rgba(200, 200, 200, 0.217);
}

@media (min-width: 600px) {
  .button-form {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .foot {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.div-foot {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .div-foot {
    align-items: flex-start;
  }
}
.svg-foot {
  display: flex;
  justify-content: center;
}

.facebook,
.x,
.youtube,
.instagram {
  padding: 5px;
}

.p-footer {
  color: white;
}

@media (min-width: 600px) {
  .p-footer {
    padding: 10px;
  }
}
.facebook {
  width: 20px;
}

.facebook:hover {
  background-color: rgb(210, 91, 18);
}

.x {
  width: 20px;
}

.x:hover {
  background-color: rgb(210, 91, 18);
}

.youtube {
  width: 20px;
}

.youtube:hover {
  background-color: rgb(210, 91, 18);
}

.instagram {
  width: 20px;
}

.instagram:hover {
  background-color: rgb(210, 91, 18);
}

.main {
  height: 50vh;
}

@media (min-width: 600px) {
  .main {
    display: flex;
  }
}
@media (min-width: 600px) {
  .div-main {
    width: 75%;
    height: 100%;
  }
}
.title-main {
  margin: 0;
  text-align: center;
  background-color: rgb(210, 91, 18);
  color: white;
  height: 100px;
}

@media (min-width: 600px) {
  .title-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: 100%;
  }
}
.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .paragraph {
    background-color: rgba(223, 222, 222, 0.274);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.p-main {
  max-width: 50%;
}

.adresse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .adresse {
    height: 70vh;
    flex-direction: row;
    justify-content: center;
  }
}
.title-adresse {
  text-align: center;
  color: black;
  width: 100%;
}

@media (min-width: 600px) {
  .title-adresse {
    width: 30%;
  }
}
@media (min-width: 600px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}
@media (min-width: 600px) {
  .p-info {
    padding: 10px;
  }
}
@media (min-width: 600px) {
  .secteur {
    height: 30vh;
  }
}
.title-secteur {
  text-align: center;
}

@media (min-width: 600px) {
  .title-secteur {
    font-size: 3em;
  }
}
@media (min-width: 600px) {
  .div-secteur {
    height: 80%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 600px) {
  .p-secteur {
    padding: 10px;
  }
}
@media (min-width: 600px) {
  .label-form {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */